.title {
color:white;
}

.head {
    text-align: center;
}
.me {
    border: 5px solid black;
    margin: 30px;
    background-color: white;   
}
.infome {
    display: flex;
    justify-content: space-around;
}

.mefoto {
    width: 10%;
    text-align: left;
}

h1 {
    font-family: Garamond, serif;
}

h2 {
    font-family: 'Times New Roman', serif;
}

p {
    font-family: Tahoma, sans-serif;
}

.infoschool {
    display: flex;
    justify-content: space-between;
}

.infowork {
    display: flex;
    justify-content: space-between;
}

.school {
    border: 3px solid black;
    margin: 30px;
    background-color: white;
}

.work {
    border: 3px solid black;
    margin: 30px;
    background-color: white;
}

.socials {
    border: 3px solid black;
    margin: 30px;
    background-color: white;
}

.infosocial {
    display: flex;
    justify-content: center;  
}

.contact {
    border: 3px solid black;
    margin: 30px;
    background-color: white;
}

.infocontact {
    display: flex;
    justify-content: space-around;
}

body {
    background-color: whitesmoke(44, 25, 207);
    background-image: url("stars.jpg");
}

.infocv {
    display: flex;
    justify-content: center;
}

.cv {
    border: 3px solid black;
    margin: 30px;
    background-color: white;
}

